/* tema claro con variables globales:*/
:root {
    --bg-color: #ffffff ; /* fondo claro*/
    --txt-color: #333333 ; /* texto negro*/
    --header-bg-color: #272131; /* fondo purpura del encabezado*/
    --header-txt-color:#ffffff; /*texto blanco del encabezado */
    --border-color: #5f5a6b; /* borde del encabezado*/

}

/* tema oscuro con variables globales */

[data-theme= "dark"]{   /* selector de atributos */ /* js cambia el valor de data-theme en html dinamicamente*/
    --bg-color: #121212;   /* fondo negro*/
    --txt-color: #e0e0e0; /* texto blanco*/
    --header-bg-color: #1f1f1f; /*fondo oscuro header*/
    --header-txt-color:#ffffff; /* texto blando de header*/ 
    --border-color:#110b58; /* Borde del encabezado*/


}
 /* Aplicar las variables */
 

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color); /* fondo dinamico*/
    color: var(--txt-color); /* texto dinamico*/ 

}

/* Estilo de navegacion */
nav {
    background-color: var(--header-bg-color); /* fondo de navbar con variable del tema*/
    padding: 15px 0; /* espacio interno arriba y abajo */
    text-align: center;
}

nav ul {
    list-style: none; /* elimina los estilos de lista ( Puntos o numeros) */
    padding: 0; /* elimina el relleno por defecto */
    margin: 0; /* elimina el margen por defecto */
    display: flex;/* usa flexbox para organizar los elementos en una fila */
    justify-content: center; /* centra los elementos en la barra de navegacion */
    gap: 50px; /* espaciado entre elementos */
}

nav ul li a {
    text-decoration: none; /* elimina el subrayado de los enlaces */
    color: var(--header-txt-color); /* aplica el color del texto segun el tema */
    font-weight: bold; /* hace que el texto sea mas grueso */
    font-size: 20px; /* tamaño letra navbar */
    transition: color 0.3s; /* agrega una animacion suave al cambiar el color */
}
nav ul a:hover {
    color: var(--border-color);/* cambia el color del texto cuando el usuario pasa el mouse */
}
/* estilo de encabezado*/

header {
    text-align: center;  /* centra el texto dentro del emento <header> */
    background-color: var(--header-bg-color); /* Usa el color definido en la variable --header-bg-color. El color depende del tema actual. */
    color: var(--header-txt-color); /*  Usa el color definido en la variable --header-txt-color. El color depende del tema actual. */                              
    padding: 50px 20px;                             
    border-bottom: 5px solid var(--border-color);
    display: flex; /* activa el modelo de caja flexible */
    flex-direction: column; /* acomoda los elementos en columna (uno debajo de otro ) */
    align-items: center; /* centra los elementos horizontalmente */
    gap: 15px; /*agrega separacion entre los elementos del header */
}
/* estilo para imagen de perfil */
 header img {
    max-width: 10%; /* la imagen se ajusta al tamaño del contenedor */
    height: auto; /* mantiene la proporcion original de la imagen */
    border-radius: 50%; /* esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra elegante */
}
/* ajustar párrafo dentro de header */
header p {
    max-width: 60%;         /* limita el ancho del parrafo */
    font-size: 1.4em;       /* tamaño del texto mas grande */
    line-height: 1.5;       /* espaciado entre lineas      */
    text-align: center;     /* asegura que el texto esté centrado*/

}

header h1 {
    font-size: 1.5em;
    margin: 20px 0;
}

/* boton de cambio de tema */
#theme-button {
    margin-top: 30px;/* aumenta la separacio entre el boton y el texto*/
    padding: 22px 24px; /* hace el boton mas grande */
    font-size: 1.1em; /* hace que el texto dentro del boton sea mas grande*/
    cursor: pointer;
    border: none;
    border-radius: 5px; /* bordes mas suaves */
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto cuando pasas el mouse */
#theme-button:hover {
    background-color: var(--header-bg-color); /* cambio de color a pasar el mouse */
    transform: scale(1.1);/* aumenta un poco el tamaño para el efecto dinamico */
}